<div id="<%= dom_id user %>" class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="text-center mb-3">
        <% if @user.image.attached? %>
          <%= image_tag @user.image, class: "img-fluid rounded-circle", style: "width: 200px; height: 200px;" %>
        <% else %>
          <p>L'utilisateur n'a pas encore d'avatar</p>
        <% end %>    
      </div>
    </div>
    <div class="col-md-8 mt-6">
      <ul class="list-group">
        <li class="list-group-item"><strong>Nom : </strong><%= user.first_name %> <%= user.last_name %></li>
        <li class="list-group-item"><strong>Email :</strong> <%= user.email %></li>
      </ul>
      <div class="text-center mt-3">
        <%= link_to "Modifier le compte", edit_user_registration_path(@user), class: "btn btn-primary" %>
      </div>
    </div>

    <div class="col-md-12 mt-6">
      <h3 class="mb-3">Mes annonces</h3>
      <div class="card">
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 custom-color">Vélo</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 custom-color">Type</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 custom-color">Nombre de résa</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 custom-color">Prix/Heure</th>
                <th class="text-secondary opacity-7 custom-color"></th>
              </tr>
            </thead>
            <tbody>
              <% user.bicycles.each do |bicycle| %>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>                      
                      <% if bicycle.image.attached? %>
                         <%= image_tag bicycle.image, class: "avatar avatar-sm me-3" %>
                      <% else %>
                         <p>Image</p>
                      <% end %>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-xs"><%= bicycle.model %></h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0"><%= bicycle.bicycle_type.humanize %></p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm badge-success"><%= bicycle.rentals.count %></span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"><%= number_to_currency(bicycle.price_per_hour, unit: '€') %></span>
                  </td>
                  <td class="align-middle">
                    <%= link_to "Voir l'annonce", bicycle, class: "btn btn-primary btn-sm d-flex justify-content-center mt-2" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      
      <li class="list-group-item mt-3">
        <%= link_to "Nouvelle annonce", new_bicycle_path, class: "btn btn-outline-light btn-sm", style: "background-color: #FFDE8C; color: #506191; border-radius: 25px" %>
      </li>
    </div>

    <div class="col-md-12 mt-6">
      <h3 class="mb-3">Mes locations</h3>
      <div class="card">
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 custom-color">Vélo</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 custom-color">À partir</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 custom-color">Jusqu'au</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 custom-color">Prix total</th>
                <th class="text-secondary opacity-7 custom-color"></th>
              </tr>
            </thead>
            <tbody>
              <% user.rentals.each do |rental| %>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                      <% if rental.bicycle.image.attached? %>
                        <%= image_tag rental.bicycle.image, class: "avatar avatar-sm me-3" %>
                      <% else %>
                        <p>Image  </p>
                      <% end %>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-xs"><%= rental.bicycle.model %></h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0"><%= rental.start_date.strftime('%Y-%m-%d %H:%M') %></p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm badge-success"><%= rental.end_date.strftime('%Y-%m-%d %H:%M') %></span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"><%= number_to_currency(rental.total_cost, unit: '€') %></span>
                  </td>
                  <td class="align-middle">
                    <%= link_to "Voir la location", rental, class: "btn btn-primary btn-sm d-flex justify-content-center mt-2" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <li class="list-group-item mt-3">
       <%= link_to "Nouveau vélo", bicycles_path, class: "btn btn-outline-light btn-sm", style: "background-color: #FFDE8C; color: #506191; border-radius: 25px" %>
    </li>
    </div>
  </div>
</div>
