<% content_for :title, "Le profil User de Locavelow" %>
<% content_for :meta_description, "Le profil permet de poster, de créer et de suivre les locations en cours, de personnaliser son profil avec une image et de gérer les avis." %>
                       
<%= render @user %>

<div class="container mt-4">
  <div class="d-flex align-items-center mb-3">
    <h2 class="mx-3" itemprop="name">Avis reçus</h2>
    <% received_reviews = Review.where(reviewed_user_id: @user.id) %>
    <% if received_reviews.count > 0 %>
      <% sum_of_ratings = received_reviews.sum(:rating) %>
      <% average_rating = sum_of_ratings.to_f / received_reviews.count %>
      <% average_rating_rounded = average_rating.round(1) %>
      <h2 itemprop="ratingValue">
        <strong><%= average_rating_rounded %>/5</strong>
      </h2>
    <% else %>
    <% end %>
  </div>  
  <% if @user.owner_reviews.any? %>
    <% @user.owner_reviews.each_slice(3) do |owner_reviews_slice| %>
      <div class="row">
        <% owner_reviews_slice.each do |owner_review| %>
          <div class="col-md-4 mb-4">
            <div class="card" itemprop="review" itemscope itemtype="http://schema.org/Review">
              <div class="card-body">
                <div class="stars">
                  <% owner_review.rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - owner_review.rating).times do %>
                    <i class="far fa-star"></i>
                  <% end %>  
                </div>  
                <h6 class="card-title" itemprop="author"><%= owner_review.reviewer_user.first_name %> <%= owner_review.reviewer_user.last_name %></h6>
                <p class="card-text" itemprop="reviewBody"><%= owner_review.review_text %></p>
                <% if owner_review.review_date.present? %>
                  <% review_date = owner_review.review_date %>
                  <% months_ago = ((Time.now - review_date) / 1.month).round %>
                  <p itemprop="datePublished"><strong>
                    <% if months_ago.zero? %>
                      Il y a moins d'un mois
                    <% elsif months_ago == 1 %>
                      Il y a un mois
                    <% else %>
                      Il y a <%= months_ago %> mois
                    <% end %></strong>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>L'utilisateur n'a pas encore d'avis</p>
  <% end %>
</div>

<%= render 'shared/delete_confirmation_modal', delete_path: user_path(@user), confirm_text: "Êtes-vous sûr de vouloir supprimer votre profil ?" %>

<div class="mt-6 mb-6 d-flex flex-column align-items-center">
  <%= link_to "Supprimer le compte", "#", class: "btn btn-danger", "data-bs-toggle" => "modal", "data-bs-target" => "#deleteBicycleModal", "aria-label" => "Supprimer mon profil" %>
  <br>
  <%= link_to "Accueil", root_path, class: "btn btn-primary", aria_label: "Accueil" %>
</div>
