<% content_for :title, "La footer de Locavelow" %>
<% content_for :meta_description, "Le banner de Locavelow qui présente l'équipe avec les liens Github des membres, et plusieurs autres liens, s'incrire, se connecter, poster une annonce, louer un vélo, cgv." %>

<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-top border-bottom mb-3">
    <li class="nav-item"><%= link_to "S'inscrire", new_user_registration_path, class: "nav-link px-2 text-body-secondary", "aria-label": "S'inscrire" %></li>
    <li class="nav-item"><%= link_to "Se connecter", new_user_session_path, class: "nav-link px-2 text-body-secondary", "aria-label": "Se connecter" %></li>
    <li class="nav-item"><%= link_to "Poster une annonce", new_bicycle_path, class: "nav-link px-2 text-body-secondary", "aria-label": "Poster une annonce" %></li>
    <li class="nav-item"><%= link_to "Louer un vélo", bicycles_path, class: "nav-link px-2 text-body-secondary", "aria-label": "Louer un vélo" %></li>
    <li class="nav-item"><%= link_to "CGV", terms_and_conditions_path, class: "nav-link px-2 text-body-secondary", "aria-label": "CGV" %></li>
  </ul>
  <div class="d-flex flex-wrap justify-content-between align-items-center mx-5">
    <div class="col-md-4 d-flex align-items-center">
      <%= link_to root_path, class: "mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" do %>
        <%= image_tag asset_path('logo.png'), class: "logo-img", style: "width: 34px", alt: "Logo" %>
      <% end %>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2023 LocaVelow, Inc</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <%= link_to "https://github.com/Arabicode-team/LocaVelow_2.0", aria_label: "GitHub repository", class: "text-body-secondary" do %>
          <i class="fa-brands fa-github fa-xl"></i>
        <% end %>
      </li>
    </ul>
  </div>
</footer>
       