<footer>
  <div class="container">
    <div class="d-flex justify-content-between flex-wrap">
      <div class="col-md-4">
        <h3>Services</h3>
        <ul>
          <li><%= link_to "S'inscrire", new_user_registration_path %></li>
          <li><%= link_to "Se connecter", new_user_session_path %></li>
          <li><%= link_to "Poster une annonce", new_bicycle_path %></li>
          <li><%= link_to "Louer un vélo", bicycles_path %></li>
           <li><%= link_to 'Conditions générales', terms_and_conditions_path %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>A propos de nous</h3>
        <ul>
          <li><a href="https://github.com/ikramiste">Ikram Saadi</a></li>
          <li><a href="https://github.com/masechkacat">Marina Torunova</a></li>
          <li><a href="https://github.com/JerkStanton">Sylvain Deligny</a></li>
          <li><a href="https://github.com/cypradoux">Cyprien Pradoux</a></li>
          <li><a href="https://github.com/GregMagnat">Grégory Magnat</a></li> 
        </ul>
      </div>
      <div class="col-md-4 d-flex align-items-end justify-content-center mb-4">
        <a href="https://github.com/Arabicode-team/LocaVelow_2.0">
          <i class="fa-brands fa-github fa-xl"></i>
        </a>
        <p class="small copyright ml-2 mb-0 ms-2">Locavelow © 2023</p>
      </div>
    </div>
  </div>
</footer>