<% content_for :title, "Barre de navigation - Menu | Locavelow" %>
<% content_for :meta_description, "La barre de navigation de Locavelow permet de se connecter, s'inscrire, de créer et poster une annonce. Une fois connecté, cette barre vous permettra aussi d'accéder à votre page profil." %>

<!-- Navbar en partial -->
<nav class="navbar navbar-expand-lg blur blur-rounded top-0 border-bottom z-index-3 shadow w-100 mt-4 py-0 fixed-top" id="headerNav">
  <div class="container-fluid px-2 px-lg-4">
    <%= link_to root_path, aria_label: "Home", class: "navbar-brand d-block d-lg-none mx-auto py-2 ps-3" do %>
      <%= image_tag asset_path('logo.png'), width: "30vh", alt: "Logo" %>
    <% end %>

    <!-- Bouton toggle pour les petits écrans, responsive -->
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #FFDE8C;">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <!-- Contenu de la barre de navigation -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Boutons Comment ça marche/Je suis propiétaire qui change de route quand nous sommes co  -->
      <ul class="navbar-nav", style="display: content">
        <li class="nav-item me-3 py-1 py-lg-0">
          <%= link_to "Comment ça marche ?", static_about_path, class: "btn btn-outline-dark btn-sm m-0 px-3", aria_label: "Comment ça marche ?" %>
        </li>
        <li class="nav-item me-5 py-1 py-lg-0">
          <% if user_signed_in? %>
            <%= link_to "Je suis propriétaire", new_bicycle_path, class: "btn btn-outline-light btn-sm m-0 px-3", data: { turbo: false }, aria_label: "Je suis propriétaire" %>
          <% else %>
            <%= link_to "Je suis propriétaire", new_user_registration_path, class: "btn btn-outline-light btn-sm m-0 px-3", data: { turbo: false }, aria_label: "Je suis propriétaire" %>
          <% end %>
        </li>
      </ul>

      <!-- Logo pour les grands écrans -->
      <%= link_to root_path, aria_label: "Home", class: "navbar-brand mx-auto d-none d-lg-block" do %>
        <%= image_tag asset_path('logo.png'), class: "logo-img", width: "40vh", alt: "Logo" %>
      <% end %>

      <!-- Boutons s'inscrire/profil et Se déconnecter/Se connecter en swith avec If/else -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item py-1 py-lg-0">
          <% if user_signed_in? %>
            <%= link_to user_path(current_user), class: "btn btn-default btn-sm m-0 px-3", style: "box-shadow: none;", aria_label: "Profil" do %>
              <i class="fas fa-user me-2"></i> Profil
            <% end %>
          <% else %>
            <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-default btn-sm m-0 px-3", style: "box-shadow: none;", aria_label: "S'inscrire" %>
          <% end %>
        </li>
        <li class="nav-item pt-1 pb-2 py-lg-0">
          <% if user_signed_in? %>
            <% if user_signed_in? %>
              <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "btn btn-outline-light btn-sm m-0 px-3", aria_label: "Se déconnecter" %>
            <% end %>
          <% else %>
            <%= link_to "Se connecter", new_user_session_path, class: "btn btn-outline-dark btn-sm m-0 px-3", aria_label: "Se connecter" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
