<div id="<%= dom_id bicycle %>">
  <p>
    <strong>Owner:</strong>
    <%= bicycle.owner_id %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= bicycle.description %>
  </p>
  <p>
    <strong>Model:</strong>
    <%= bicycle.model %>
  </p>

  <p>
    <strong>Bicycle type:</strong>
    <%= bicycle.bicycle_type %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= bicycle.size %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= bicycle.condition %>
  </p>

  <p>
    <strong>Price per hour:</strong>
    <%= bicycle.price_per_hour %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= bicycle.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= bicycle.longitude %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= bicycle.address %>
  </p>

</div>


<div class="col mt-3">
    <div class="card card-blog card-plain">
      <div class="position-relative">
        <div class="d-block blur-shadow-image">
          <img src="<%= asset_path('testcard') %>" class="img-fluid border-radius-lg">
        </div>
      </div>
      <div class="card-body px-1 pt-3">
          <h5>
            <%= bicycle.model %>
          </h5>
        <p>
        Taille : <%= bicycle.size %> <br>
        </p>
        <p>
        Adresse : <%= bicycle.address %>
      </div>
    </div>
  </div>