<% if local_assigns[:show_details] == true %>
  <div id="<%= dom_id bicycle %>">
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6">
          <% if @bicycle.image.attached? %>
            <%= image_tag @bicycle.image, class: "img-fluid rounded", alt: "Image de vélo" %>
          <% else %>
            <%= image_tag asset_path('icone_vélo.png'), class: "img-fluid rounded", alt: "Icone de vélo" %>
          <% end %>    
          <div class="d-flex justify-content-center mt-6">
            <p class="label p-2" style="border-radius: 25px; background-color: #FFDE8C;">
              <strong>Prix/heure : </strong>
              <%= bicycle.price_per_hour %> €
            </p>
          </div>  
        </div>
        <div class="col-md-6">
          <h4 class="text-center">
            <%= bicycle.model %>
          </h4>
          <h6 class="text-center">
            <%= bicycle.city %>, <%= bicycle.country %>
          <h6>  
          <p>
            <%= bicycle.description %>
          </p> 
          <h5 class="text-center"> Caractéristiques</h5>
          <p>
           
          <ul>
            <p>
              <li>
                <strong>Catégorie :</strong>
                <%= bicycle.bicycle_type.humanize %>
              </li>
            </p>
            <p>
              <li>
                <strong>Taille :</strong>
                <%= bicycle.size.humanize %>
              </li>
            </p>
            <p>
              <li>
                <strong>Etat :</strong>
                <%= bicycle.condition %>
              </li>
            </p>
            <p>
              <li>
              <strong>Accessoires :</strong>
              <% if bicycle.accessories.present? %>
                <%= bicycle.accessories.map(&:name).join(', ') %>
              <% else %>
                Pas d'accessoires disponibles.
              <% end %>
              </li>
            </p>
          </ul> 
          <p class="border rounded p-3 shadow mb-2 text-center">
          <span class="ml-2" role="img" aria-label="Avatar">👤</span>
            <strong>Propriétaire :</strong>
            <%= bicycle.owner.first_name %> <%= bicycle.owner.last_name %>
          </p>
          <div class="container mt-4">
            <h6 class="mb-3 text-center">Avis sur cet utilisateur</h6>
            <div class="accordion" id="reviewsAccordion">
            <% if @bicycle.owner.owner_reviews.any? %>
              <% @bicycle.owner.owner_reviews.first(3).each_with_index do |owner_review, index| %>
                <div class="accordion-item rounded shadow mb-3">
                  <h6 class="accordion-header" id="reviewHeading<%= index %>">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#reviewCollapse<%= index %>" aria-expanded="true" aria-controls="reviewCollapse<%= index %>">
                      Note: <%= owner_review.rating %>/5
                    </button>
                  </h6>
                  <div id="reviewCollapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="reviewHeading<%= index %>" data-bs-parent="#reviewsAccordion">
                    <div class="accordion-body">
                      Commentaire : <%= owner_review.review_text %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p>L'utilisateur n'a pas encore d'avis</p>
            <% end %>  
            </div>
          </div>
        </div>
      </div>
    </div>   
    <p class="text-center">
      <strong>Adresse :</strong>
      <%= "#{bicycle.city},#{bicycle.postal_code}, #{bicycle.country}" %>
    </p>
  </div>
<% else %>
    
<div class="col mt-1">
  <div class="card card-blog card-plain">
    <div class="position-relative">
      <div class="d-block blur-shadow-image">
      <% if bicycle.image.attached? %>
        <%= image_tag bicycle.image, class: "img-fluid border-radius-lg" %>
      <% else %>
        <%= image_tag 'icone_vélo.png', class: "img-fluid border-radius-lg" %>
      <% end %>  
      </div>
    </div>
    <div class="card-body px-0 pt-1">
        <h5>
          <%= bicycle.model %>
        </h5>
      <p>
      Taille : <%= bicycle.size %> <br>
      </p>
      <p>
      Localisation : <%= bicycle.country %>, <%= bicycle.city %>
      </p>
    </div>
  </div>
  </div>	
<% end %>  