<% if local_assigns[:show_details] == true %>
  <div id="<%= dom_id bicycle %>">
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6">
          <% if @bicycle.image.attached? %>
            <%= image_tag @bicycle.image, class: "img-fluid rounded" %>
          <% else %>
            <p>Aucune image disponible</p>
          <% end %>    
        </div>
        <div class="col-md-6">
          <h4 class="text-center">
            <%= bicycle.model %>
          </h4>
          <h6 class="text-center">
            <%= bicycle.city %>, <%= bicycle.country %>
          <h6>  
          <p>
            <%= bicycle.description %>
          </p> 
          <h5 class="text-center"> Caractéristiques</h5>
          <p>
          <li>
            Catégorie :
            <%= bicycle.bicycle_type %>
          </li>
          </p>
          <p>
          <li>
            <strong>Taille :</strong>
            <%= bicycle.size %>
          </li>
          </p>
          <p>
          <li>
            <strong>Etat :</strong>
            <%= bicycle.condition %>
          </li>
          </p>
          <p>
          <li>
            <strong>Accessoires :</strong>
            <%= bicycle.accessories.name %>
          </li>
          </p>
          <p class="border rounded p-3 shadow mb-2 text-center">
          <span class="ml-2" role="img" aria-label="Avatar">👤</span>
            <strong>Propriétaire :</strong>
            <%= bicycle.owner.email %>
          </p>
          <div class="d-flex justify-content-center">
            <p class="btn btn-secondary">
              <strong>Prix/heure : </strong>
              <%= bicycle.price_per_hour %> €
            </p>
          </div>
        </div>
      </div>
    </div>   
    <p class="text-center">
      <strong>Adresse :</strong>
      <%= "#{bicycle.address}, #{bicycle.city}, #{bicycle.state}, #{bicycle.postal_code}, #{bicycle.country}" %>
    </p>
  </div>
<% else %>
    
<div class="col mt-1">
  <div class="card card-blog card-plain">
    <div class="position-relative">
      <div class="d-block blur-shadow-image">
        <img src="<%= asset_path('testcard') %>" class="img-fluid border-radius-lg">
      </div>
    </div>
    <div class="card-body px-0 pt-1">
        <h5>
          <%= bicycle.model %>
        </h5>
      <p>
      Taille : <%= bicycle.size %> <br>
      </p>
      <p>
      Adresse : <%= bicycle.address %>
      </p>
    </div>
  </div>
  </div>	
<% end %>  