<% if local_assigns[:show_details] == true %>
  <div id="<%= dom_id bicycle %>">
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6">
          <%= @bicycle.image.attached? ? image_tag(@bicycle.image, class: "img-fluid rounded", alt: "Image de vélo") : image_tag(asset_path('icone_vélo.png'), class: "img-fluid rounded", alt: "Icone de vélo") %>
          <h4 class="text-center mt-4"><%= bicycle.model %></h4>
          <h6 class="text-center"><%= bicycle.city %>, <%= bicycle.country %></h6>  
          <p><%= bicycle.description %></p> 
          <h5 class="text-center mt-4"> Caractéristiques</h5>
          <ul>
            <li><strong>Catégorie :</strong> <%= bicycle.bicycle_type.humanize %></li>
            <li><strong>Taille :</strong> <%= bicycle.size.humanize %></li>
            <li><strong>Etat :</strong> <%= bicycle.condition %></li>
            <li><strong>Accessoires :</strong> <%= bicycle.accessories.present? ? bicycle.accessories.map(&:accessory_type).join(', ').humanize : "Pas d'accessoires disponibles." %></li>
          </ul> 
          <div class="d-flex justify-content-center mt-4 mb-4">
            <span class="badge bg-gradient-light badge-md"><strong>Prix/heure : </strong><%= bicycle.price_per_hour %> €</span>
          </div>  
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-center mt-2 border rounded shadow pt-3">
            <%= @bicycle.owner.image.attached? ? image_tag(@bicycle.owner.image, class: "img-fluid rounded mx-2", alt: "Avatar", style: "width: 30px; height: 30px") : image_tag(asset_path('icone_user.png'), class: "img-fluid rounded mx-2", alt: "Icone utilisateur", style: "width: 30px; height: 30px") %>
            <p class="text-center"><strong>Propriétaire :</strong> <%= bicycle.owner.first_name %> <%= bicycle.owner.last_name %></p>
          </div>  
          <div class="container mt-4">
            <div class="accordion" id="userReviewsAccordion">
              <div class="accordion-item rounded shadow mb-3">
                <h6 class="accordion-header" id="userReviewsHeading">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#userReviewsCollapse" aria-expanded="true" aria-controls="userReviewsCollapse">
                    <strong>Avis utilisateur</strong>
                    <span class="ms-2 me-2">
                      <% received_reviews = Review.where(reviewed_user_id: @bicycle.owner_id) %>
                      <%= received_reviews.count > 0 ? (sum_of_ratings = received_reviews.sum(:rating); average_rating = sum_of_ratings.to_f / received_reviews.count; average_rating_rounded = average_rating.round(1); "<span>#{average_rating_rounded}/5</span>") : "" %>
                      <%= @bicycle.owner.owner_reviews.any? ? "<i class='fas fa-star'></i>" : "" %>  
                    </span>  
                    <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                    <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                  </button>
                </h6>
                <div id="userReviewsCollapse" class="accordion-collapse collapse" aria-labelledby="userReviewsHeading" data-bs-parent="#userReviewsAccordion">
                  <div class="accordion-body">
                    <% if @bicycle.owner.owner_reviews.any? %>
                      <% @bicycle.owner.owner_reviews.first(3).each_with_index do |owner_review, index| %>
                        <div class="mb-3">
                          <div class="stars">
                            <% owner_review.rating.times do %>
                              <i class="fas fa-star"></i>
                            <% end %>
                            <% (5 - owner_review.rating).times do %>
                              <i class="far fa-star"></i>
                            <% end %>  
                          </div>  
                        </div>
                        <p><strong>Commentaire :</strong> <%= owner_review.review_text %></p>
                        <p><strong>Par :</strong> <%= owner_review.reviewer_user.first_name %> <%= owner_review.reviewer_user.last_name %></p>
                        <% if owner_review.review_date.present? %>
                          <% review_date = owner_review.review_date %>
                          <% months_ago = ((Time.now - review_date) / 1.month).round %>
                          <p><strong>
                            <% if months_ago.zero? %>
                              Il y a moins d'un mois
                            <% elsif months_ago == 1 %>
                              Il y a un mois
                            <% else %>
                              Il y a <%= months_ago %> mois
                            <% end %></strong>
                          </p>
                        <% end %>
                      <% end %>
                    <% else %>
                      <p>L'utilisateur n'a pas encore d'avis</p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="text-center mt-6"><strong>Adresse :</strong> <%= "#{bicycle.city},#{bicycle.postal_code}, #{bicycle.country}" %></p>
          <div class="my-4 col-sm-12 simple-map-container px-0">
            <div id="gmp-map" data-latitude="<%= @bicycle.latitude %>" data-longitude="<%= @bicycle.longitude %>" style="width: 100%; height: 100%; border-radius: 25px;"></div>
          </div>
        </div>
      </div>
    </div>   
  </div>
<% else %>
  <div class="col mt-1 p-3">
    <div class="card card-blog card-plain">
      <div class="position-relative">
        <div class="d-block blur-shadow-image">
          <%= bicycle.image.attached? ? image_tag(bicycle.image, class: "img-fluid border-radius-lg", alt: "Image de vélo") : image_tag('icone_vélo.png', class: "img-fluid border-radius-lg", alt: "Icone de vélo") %>
        </div>
      </div>
      <div class="card-body px-0 pt-1">
        <h5><%= bicycle.model %></h5>
        <p>Taille : <%= bicycle.size %> <br></p>
        <p>Localisation : <%= bicycle.country %>, <%= bicycle.city %></p>
      </div>
    </div>
  </div>	
<% end %>
