<% bicycles.each_slice(4).with_index do |group, index| %>
    <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
      <div class="row justify-content-center">
        <% group.each_with_index do |bicycle, i| %>
          <div class="card border-warning col-md-0 col-lg-5 mx-1 my-2 pb-1" id="card<%= index * 4 + i %>">
            <%= render bicycle %>
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="text-primary mb-0" style="color: #FFDE8C;"><%= "#{bicycle.price_per_hour}€/1h" %></h5>
              <%= link_to "Voir le vélo", bicycle, class: "btn btn-outline-light btn-sm ml-auto", style: "background-color: #506191; color: #FFDE8C; border-radius: 25px;", data: { turbo: false }%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  