<p style="color: green"><%= notice %></p>

<%= render @bicycle, bicycle: @bicycle, show_details: true %>

<div id="gmp-map" data-latitude="<%= @bicycle.latitude %>" data-longitude="<%= @bicycle.longitude %>" style="height: 300px;"></div>

<%= render 'calendar', bicycle: @bicycle %>

<%= render 'rentals/form', bicycle: @bicycle %>
<div>
  <%= link_to "Edit this bicycle", edit_bicycle_path(@bicycle) %> |
  <%= link_to "Back to bicycles", bicycles_path %>
  <%= button_to "Destroy this bicycle", @bicycle, method: :delete %>
</div>

<%= javascript_include_tag 'estimate_cost' %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places,marker&callback=initSimpleMap&solution_channel=GMP_QB_addressselection_v2_cABC", defer: true %>
<%= javascript_include_tag 'simpleMap' %>
