<p style="color: green"><%= notice %></p>

<%= render @bicycle, bicycle: @bicycle, show_details: true %>

<div id="gmp-map" data-latitude="<%= @bicycle.latitude %>" data-longitude="<%= @bicycle.longitude %>" style="height: 300px;"></div>

<%= form_tag(rentals_path, method: :post, id: "rental_form") do %>
  <%= hidden_field_tag 'rental[bicycle_id]', @bicycle.id %>
  <%= hidden_field_tag 'rental[renter_id]', current_user.id %>
  <%= hidden_field_tag 'rental[rental_status]', 'in_progress' %>
  <%= label_tag 'rental[start_date]', 'Start Date and Time' %>
  <%= datetime_field_tag 'rental[start_date]' %>
  <br/>
  <%= label_tag 'rental[end_date]', 'End Date and Time' %>
  <%= datetime_field_tag 'rental[end_date]' %>
  <br/>
 
<%= javascript_include_tag 'simpleMap' %>
<%= render 'calendar', bicycle: @bicycle %>
<%= render 'rentals/form', bicycle: @bicycle %>