<%= form_tag(rentals_path, method: :post, id: "rental_form", "data-price-per-hour" => @bicycle.price_per_hour) do %>
  <%= hidden_field_tag 'rental[bicycle_id]', @bicycle.id %>
  <%= hidden_field_tag 'rental[renter_id]', current_user.id %>
  <%= hidden_field_tag 'rental[rental_status]', 'in_progress' %>
  <%= label_tag 'rental[start_date]', 'Start Date and Time' %>
  <%= datetime_field_tag 'rental[start_date]' %>
  <br/>
  <%= label_tag 'rental[end_date]', 'End Date and Time' %>
  <%= datetime_field_tag 'rental[end_date]' %>
  <br/>
  <%= submit_tag "Reserve" %>
<% end %>
<br/>
<div id="calculated_cost">Estimated Cost: $0</div>
