<div id="<%= dom_id rental %>">
  <p>
    <strong>Bicycle:</strong>
    <%= rental.bicycle_id %>
  </p>

  <p>
    <strong>Renter:</strong>
    <%= rental.renter_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= rental.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= rental.end_date %>
  </p>

  <p>
    <strong>Rental status:</strong>
    <%= rental.rental_status %>
  </p>

</div>
