<%# app/views/rentals/confirm.html.erb %>
<div class="container mt-5 px-5 mb-5">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center">Confirmation de réservation</h3>
      <div class="card-text">
        <p>Vélo : <strong><%= @rental.bicycle.model %></strong></p>
        <p>Date de début : <strong><%= @rental.start_date %><strong></p>
        <p>Date de fin : <strong><%= @rental.end_date %></strong></p>
        <p>Prix total : <strong><%= @rental.total_cost %> €</strong></p>
      </div>
      <div class="d-flex justify-content-center">
        <%= button_to 'Payer avec Stripe', @checkout_session_url, method: :get, class: "btn btn-secondary mt-3", style: "color: #506191;" %>
      </div>  
    </div>
  </div>
</div>