<p style="color: green"><%= notice %></p>

<%= render @rental %>

<div>
  <%= link_to "Edit this rental", edit_rental_path(@rental) %> |
  <%= link_to "Back to rentals", rentals_path %>

  <%= button_to "Destroy this rental", @rental, method: :delete %>
</div>
