<div class="container mt-4" style="max-width: 600px;">
  <%= form_with(model: review) do |form| %>
    <% if review.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h4>

        <ul>
          <% review.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :rental_id, value: params[:rental_id] %>
    <%= form.hidden_field :reviewed_user_id, value: params[:reviewed_user_id] %>
    <%= form.hidden_field :reviewer_user_id, value: params[:reviewer_user_id] %>
    
    <div class="mb-3">
      <%= form.label :rating, "Note", class: "form-label" %>
      <%= form.select :rating, (0..5).to_a, { include_blank: "Sélectionnez une note" }, class: "form-select" %>
    </div>

    <div class="mb-3">
      <%= form.label :review_text, "Commentaire", class: "form-label" %>
      <%= form.text_area :review_text, class: "form-control", rows: 4 %>
    </div>

    <div class="mb-3">
      <%= form.datetime_field :review_date, class: "form-control", value: Time.now, style: "display: none;" %>
    </div>

    <div class="text-center">
      <%= form.submit "Poster un avis", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>