<div id="<%= dom_id review %>">
  <p>
    <strong>Location :</strong>
    <%= review.rental.bicycle.model %>
  </p>

  <p>
    <strong>Utilisateur noté :</strong>
    <%= review.rental.bicycle.owner.first_name %> <%= review.rental.bicycle.owner.last_name %>
  </p>

  <p>
    <strong>Utilisateur noteur :</strong>
    <%= review.rental.renter.first_name %> <%= review.rental.renter.last_name %>
  </p>

  <p>
    <strong>Note :</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Avis :</strong>
    <%= review.review_text %>
  </p>

  <p>
    <strong>Date de l'avis :</strong>
    <%= review.review_date %>
  </p>

</div>
