<div id="<%= dom_id review %>">
  <p>
    <strong>Rental:</strong>
    <%= review.rental_id %>
  </p>

  <p>
    <strong>Reviewed user:</strong>
    <%= review.reviewed_user_id %>
  </p>

  <p>
    <strong>Reviewer user:</strong>
    <%= review.reviewer_user_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Review text:</strong>
    <%= review.review_text %>
  </p>

  <p>
    <strong>Review date:</strong>
    <%= review.review_date %>
  </p>

</div>
