<% content_for :title, "Avis sur la location" %>
<% content_for :meta_description, "Avis sur la location. Détails de l'avis, note, commentaire, et date de l'avis." %>

<div id="<%= dom_id review %>" class="card mb-3 mx-auto" style="max-width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">Location : <%= review.rental.bicycle.model %></h5>

    <p class="card-text">
      <strong>Utilisateur noté :</strong>
      <%= review.rental.bicycle.owner.first_name %> <%= review.rental.bicycle.owner.last_name %>
    </p>

    <p class="card-text">
      <strong>Note :</strong>
      <%= review.rating %>
    </p>

    <p class="card-text">
      <strong>Avis :</strong>
      <%= review.review_text %>
    </p>

    <p class="card-text">
      <strong>Date de l'avis :</strong>
      <%= review.review_date %>
    </p>
  </div>
</div>