<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Locavelow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css', media: 'all' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js', integrity: 'sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM', crossorigin: 'anonymous' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css', media: 'all' %>
    <link rel="shortcut icon" type="image/png" href="<%= asset_path('logo.png') %>">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/opendyslexic" rel="stylesheet">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places,marker&callback=initMaps&solution_channel=GMP_QB_addressselection_v2_cABC", defer: true %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
  <%= render 'shared/navbar' %>

  <div class="d-flex justify-content-center">
  <%= button_tag "Cliquez ici pour une police adaptée aux personnes dyslexiques.", id: "toggleFontButton", data: { turbo_action: false } %>
  </div>  

<% flash.each do |key, message| %>
    <div class="alert <%= key == 'notice' ? 'alert-success' : 'alert-warning' %>" role="alert">
      <%= message %>
    </div>
  <% end %>

  <%= yield %>
  <%= render 'shared/footer' %>

  </body>
  <script src="https://kit.fontawesome.com/b3bc60b412.js" crossorigin="anonymous"></script>
  <script>
  function toggleFont() {
    const body = document.body;
    body.classList.toggle('opendyslexic-font');
  }

  document.addEventListener('turbo:load', function() {
    const toggleFontButton = document.getElementById('toggleFontButton');

    if (toggleFontButton) {
      toggleFontButton.classList.add('opendyslexic-font');
      toggleFontButton.addEventListener('click', toggleFont);
    }
  });
</script>

</html>
